In [1]:
## database setup

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\peter\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\peter\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
# Import MySQL Connector/Python 
import mysql.connector as connector

In [3]:
connection=connector.connect(user="root",password="June18!!")

In [4]:
cursor = connection.cursor()

In [9]:
cursor.execute("CREATE DATABASE Capstone_project")

DatabaseError: 1007 (HY000): Can't create database 'capstone_project'; database exists

In [10]:
cursor.execute("use Capstone_project")

In [13]:
cursor = connection.cursor()

# SQL query to create the Bookings table
create_table_query = """
CREATE TABLE Bookings (
    BookingID INT PRIMARY KEY,
    Date DATE,
    TableNumber INT,
    NumberOfguests INT
);
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes
connection.commit()

In [16]:
# SQL query to create the CustomerDetails table
create_table_query = """
CREATE TABLE CustomerDetails (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    ContactNumber VARCHAR(15)
);
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes
connection.commit()

In [17]:
# SQL query to create the StaffInformation table
create_table_query = """
CREATE TABLE StaffInformation (
    StaffID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Role VARCHAR(50),
    Salary DECIMAL(10, 2)
);
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes
connection.commit()

In [18]:
# SQL query to create the Menu table
create_table_query = """
CREATE TABLE Menu (
    MenuItemID INT PRIMARY KEY,
    ItemName VARCHAR(100),
    Category ENUM('Cuisine', 'Starter', 'Course', 'Drink', 'Dessert'),
    Price DECIMAL(10, 2)
);
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes
connection.commit()

In [19]:
# SQL query to create the Orders table
create_table_query = """
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    Quantity INT,
    TotalCost DECIMAL(10, 2),
    TableNumber INT,
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES CustomerDetails(CustomerID)
);
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes
connection.commit()

In [20]:
# SQL query to create the OrderDeliveryStatus table
create_table_query = """
CREATE TABLE OrderDeliveryStatus (
    DeliveryID INT PRIMARY KEY,
    OrderID INT,
    DeliveryDate DATE,
    Status VARCHAR(50),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
);
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes
connection.commit()